---
layout: splash
---

<div class="headline"> A repository of economics, data analysis, thoughts and code.
</div>


<!-- <div class="content-header">
Please visit my job market site at:
<a href="http://www.stanford.edu/~afrad/">www.stanford.edu/~afrad/</a>
</div>
 -->
<div class="content-header">
Working Papers:
</div>

<ul>
<li style="list-style: none;"> <p><a href="http://andreyfradkin.com/assets/Fradkin_JMP.pdf">Search Frictions and The Design of Online Marketplaces</a>  (Job Market Paper) <p></p></li>
<li style="list-style: none;"> <p><a href="http://andreyfradkin.com/assets/FullTexasJobSearch.pdf">The Impact of Unemployment Insurance on Job Search: Evidence from Google Search Data
</a> (w/ Scott Baker) <p></p></li>
<li style="list-style: none;"> <p><a href="http://andreyfradkin.com/assets/Defaults-and-Welfare-July-2013.pdf">The Welfare Economics of Default Options in 401(k) Plans</a> (w/ Douglas Bernheim and Igor Popov) <p></p></li>
</ul>

<!-- <ul>
{% assign sorted_projects = site.papers %}
{% for item in sorted_projects %}
  <li style="list-style: none;"> <p><a href="{{ item.url }}">{{ item.title }}</a><p></li>
{% endfor %}
</ul> -->

<div class="content-header">
Selected Content:
</div>

<ul>
{% assign sorted_posts = site.categories.posts  | sort:"name" %}
{% for post in sorted_posts %}
  {% if post.quality == "good" %}
  <div class='list_title'>
  <li style="list-style: none;"> <p> <a href="{{ post.url }}">{{ post.title }}</a><p></li>
  </div>
  {% endif %}
{% endfor %}
</ul>

<div class="content-header">
Recent Posts:
</div> 

<ul>
{% assign sorted_posts = site.categories.posts %}
{% for post in sorted_posts %}
{% if post.status == "final" %}
  <li style="list-style: none;">
    <p>
    <div class='post_type'>
        {{ post.post_type }}:
    </div>
    <div class='list_title'>
        <a href="{{ post.url }}">{{ post.title }}</a>
    </div>
    <p>
  </li>
{% endif %}  
{% endfor %}
</ul> 



