---
layout: splash
---

<div class="content-header">
Working Papers:
</div>
<ul style="list-style: none;">
{% assign papers = site.papers %}
{% for paper in papers %}
        <li style="list-style: none;padding-bottom: 2px;">
        <div  style="padding-bottom: 1px;">
        {{ paper.title }}
        </div>
        
        <div>
        <div style = "font-size: 14px;"> {{paper.coauthors}} </div>

        {% if paper.journal %} 
        <div style = "font-size: 14px; font-style:italic">  
            {{ paper.journal}} 
        </div>
        {% endif %}

        <div style = "font-size: 14px; font-style:italic"> 
            {{ paper.other}} 
        </div>
        <div style = "font-size: 14px"> 
        <a href="#" onclick={{ paper.js }}>Abstract</a> |
        <a href={{ paper.link }}> PDF </a> |
        {% if paper.appendix %} 
            <a href= {{ paper.appendix }}> Appendix </a> |
        {% endif %} 
        <a href="#" onclick={{ paper.bibjs }}> Bibtex </a> 
        </div>

       
   <div id={{ paper.js_abbrev }} style="display: none; font-size: 18px;">
           {{ paper.abstract }}
           <br></br>
        </div> 
   <div id={{ paper.bib_abbrev }} style="display: none; font-size: 12px;"> 
           {{ paper.bib }}
           <br></br>
        </div>
         
        <p></p>
        </div>
        </li>
{% endfor %}
</ul>

<div class="content-header">
In Progress:
</div>

<ul style="list-style: none;">
<li style="list-style: none;"> <p> The Economics of Peer to Peer Markets: Evidence from the Accommodations Industry  (with Chiara Farronato) <p></p></li> 
<li style="list-style: none;"><p> The Effect of Family Insurance on Early Career Outcomes (with Frederic Panier and Ilan Tojerow) <p></p></li> 
<li style="list-style: none;"><p> How Do People Form Consideration Sets On The Internet? Evidence from Large Scale Field Experiments in Search Engine Design <p></p></li> 
</ul>