<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-604EL1T42T"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-604EL1T42T');
</script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Andrey Fradkin {{ page.title }}</title>
    <link type="text/css" rel="stylesheet" media="all" href="/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" media="all" href="/css/default.css"/>
    <link type="text/css" rel="stylesheet" media="all" href="/css/pygments/default.css"/>

    <link rel="alternate" type="application/atom+xml" title="Feed" href="/posts/atom.xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitter&family=Montserrat:wght@300;500&family=Spectral&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span5">
          <h4 id="name">
              <span class="primary-name">
                  <div class="top_title"> 
                    <a href="/">Andrey Fradkin</a>
                  </div>   
              </span>
          </h4>
        </div>
        <div class="span9">
          <div class="linksbox">
            <a href="../../../../../index.html">Research</a> -
            <a href="../../../../../posts.html">Posts</a> -
            <a href="../../../../../about.html">About</a> -
            <a href="/assets/fradkin_cv.pdf">CV</a> -
            <a href="../../../../podcast.html">Podcast</a> -
            <a href="../../../../../teaching.html">Teaching</a> -
            <a href="../../../../../disclosures.html">Disclosures</a>
          </div>
        </div>
      </div>

      <div id="post">
        {% if page.category != "research" %}
            <div class="content-header"> {{ page.title }} </div>
            <div class="content-subtitle"> {{ page.subtitle }} </div>

            {% if page.modified == nil %}
            <div class="front_date"> Posted: {{ page.date | date: "%B %Y" }} </div>

            {% else %}
            <div class="front_date">
            Updated:  {{ page.modified | date: "%B %Y" }} </div>

            {% endif %}
        <p> 
        </p>

        {% endif %}
            {{ content }}
      </div>

      <div id="footer">
        <a href="http://scholar.google.com/citations?user=5qkgRKsAAAAJ&hl=en">Google Scholar</a> /
        <a href="https://twitter.com/AndreyFradkin">@AndreyFradkin</a> /
        afradkin (at) gmail (dot) com 
      </div>
    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      
      // TODO: Google Analytics
      _gaq.push(['_setAccount', 'UA-41771199-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
